In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
# Now we give movieid respective movie list

Info_Columns = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

Items = pd.read_csv('ML_100K/u.item', sep ='|', names = Info_Columns, encoding ='latin-1')
Items.head(3)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [3]:
# Keeping Required Columns Alone

Required_Info_Columns = Items[['movie id', 'movie title', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']]

Required_Info_Columns.head()

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

In [4]:
#read the ratings dataset
Required_Columns = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
Dataset = pd.read_csv('ML_100K/u.data', sep='\t', names = Required_Columns, encoding='latin-1')
Dataset

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [49]:
# Verify the Column Pickups for Random User Id
User_Id = 196
Dataset[Dataset['user_id']==User_Id][['movie_id','rating']]

       movie_id  rating
0           242       3
940         393       4
1133        381       4
1812        251       3
1896        655       5
2374         67       5
6910        306       4
7517        238       4
7842        663       5
10017       111       4
10254       580       2
10981        25       4
13733       286       5
14606        94       3
16834       692       5
17102         8       5
17830       428       4
18853      1118       4
21605        70       3
22271        66       3
22773       257       2
23189       108       4
24030       202       3
25726       340       3
32721       287       3
33536       116       3
35197       382       4
36281       285       5
41539      1241       3
42384      1007       4
50147       411       4
52726       153       5
56628        13       2
59165       762       3
59607       173       2
60199      1022       4
60706       845       4
78787       269       3
87863       110       1

In [7]:
# Create Pivot Table which will act as user vector
Dataset_Pivot = Dataset.pivot_table(index='user_id', columns ='movie_id', values='rating')

In [8]:
#Replace with NaN with 0
Data_Matrix = Dataset_Pivot.replace(np.nan,0)
Data_Matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# User Vectore
User_Vector = Data_Matrix.T
User_Vector

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
movie_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,4.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,4.0,...,2.0,3.0,4.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0
2,3.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,4.0,...,5.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
5,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1679,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1680,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1682,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Create Genre Vector

Genre_Vector = Items[['Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']]

In [11]:
Total_Number_Of_Movies_User_Rated = range(1,1683)

# Rename the index
Genre_Vector.index = Total_Number_Of_Movies_User_Rated

In [12]:
Genre_Vector_Transpose = Genre_Vector.T
Genre_Vector_Transpose

,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
Action,0,1,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Adventure,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Animation,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Children's,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Comedy,1,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
Crime,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Documentary,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Drama,0,0,0,1,1,1,1,1,1,1,...,0,1,1,1,1,1,0,1,0,1
Fantasy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Film-Noir,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Horror,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Musical,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mystery,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Romance,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
Sci-Fi,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Thriller,0,1,1,0,1,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
War,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Western,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Flow Check 

# Create the Content Vector (User Vector and Item Vector)

In [13]:
User_Id = 1

In [14]:
# check for user1
Total_Number_Of_Movies_User_01_Rated = Dataset[Dataset['user_id']==User_Id][['movie_id','rating']]
Total_Number_Of_Movies_User_01_Rated

       movie_id  rating
202          61       4
305         189       3
333          33       4
334         160       4
478          20       4
...         ...     ...
92049        28       4
92487       172       5
94019       122       3
96699       152       5
99073        94       2

[272 rows x 2 columns]

In [15]:
# Create the Content List for User_01 based on Movie_Vector
User_01_Movie_Id_List = []

for Each_Movie in Total_Number_Of_Movies_User_01_Rated['movie_id']:
    User_01_Movie_Id = Genre_Vector_Transpose[Each_Movie].values
    User_01_Movie_Id_List.append(User_01_Movie_Id)

In [16]:
# Converting the List to Dataframe
Total_Number_Of_Genre = range(1,19)

User_01_Movie_Table = pd.DataFrame(User_01_Movie_Id_List, columns = Total_Number_Of_Genre)
User_01_Movie_Table

     1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18
0     0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0
1     0   0   1   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0
2     1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   1   0   0
3     0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0
4     0   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
267   1   0   0   0   0   0   0   1   0   0   0   0   0   0   0   1   0   0
268   1   1   0   0   0   0   0   1   0   0   0   0   0   1   1   0   1   0
269   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0
270   0   0   0   0   1   0   0   0   0   0   0   0   0   0   1   0   0   0
271   0   0   0   1   1   0   0   0   0   0   0   0   0   0   0   0   0   0

[272 rows x 18 columns]

In [17]:
# Create Single Vector for One User by Summing and Taking Average of Each Genre Column

Total_Number_Of_Rows_In_User_01_Movie_Table = len(User_01_Movie_Table)
Single_User_Vector = []

for Each_Genre in Total_Number_Of_Genre:
    Summed_Each_Genre_Column_Value = sum(User_01_Movie_Table[Each_Genre])
    print(f"Summed Each Genre Column - {Each_Genre} Value : {Summed_Each_Genre_Column_Value}")
    
    Each_Genre_Vector_Value = (Summed_Each_Genre_Column_Value / Total_Number_Of_Rows_In_User_01_Movie_Table)
    Single_User_Vector.append(Each_Genre_Vector_Value)
    print(f"Genre - {Each_Genre} Vector Value = ({Summed_Each_Genre_Column_Value})/ Total_Number_Of_Rows_In_User_01_Movie_Table ({Total_Number_Of_Rows_In_User_01_Movie_Table}) = {Each_Genre_Vector_Value:.2f}", "\n")
Single_User_Vector

Summed Each Genre Column - 1 Value : 75
Genre - 1 Vector Value = (75)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.28

Summed Each Genre Column - 2 Value : 42
Genre - 2 Vector Value = (42)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.15

Summed Each Genre Column - 3 Value : 12
Genre - 3 Vector Value = (12)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.04

Summed Each Genre Column - 4 Value : 25
Genre - 4 Vector Value = (25)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.09

Summed Each Genre Column - 5 Value : 91
Genre - 5 Vector Value = (91)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.33

Summed Each Genre Column - 6 Value : 25
Genre - 6 Vector Value = (25)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.09

Summed Each Genre Column - 7 Value : 5
Genre - 7 Vector Value = (5)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.02

Summed Each Genre Column - 8 Value : 107
Genre - 8 Vector Value = (107)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.39

Summed Each Genre Column - 9 Value : 2
Genre - 9 Vector Value = (2)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.01

Summed Each Genre Column - 10 Value : 1
Genre - 10 Vector Value = (1)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.00

Summed Each Genre Column - 11 Value : 13
Genre - 11 Vector Value = (13)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.05

Summed Each Genre Column - 12 Value : 13
Genre - 12 Vector Value = (13)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.05

Summed Each Genre Column - 13 Value : 5
Genre - 13 Vector Value = (5)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.02

Summed Each Genre Column - 14 Value : 44
Genre - 14 Vector Value = (44)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.16

Summed Each Genre Column - 15 Value : 43
Genre - 15 Vector Value = (43)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.16

Summed Each Genre Column - 16 Value : 52
Genre - 16 Vector Value = (52)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.19

Summed Each Genre Column - 17 Value : 25
Genre - 17 Vector Value = (25)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.09

Summed Each Genre Column - 18 Value : 6
Genre - 18 Vector Value = (6)/ Total_Number_Of_Rows_In_User_01_Movie_Table (272) = 0.02

[0.2757352941176471,
 0.15441176470588236,
 0.04411764705882353,
 0.09191176470588236,
 0.33455882352941174,
 0.09191176470588236,
 0.01838235294117647,
 0.39338235294117646,
 0.007352941176470588,
 0.003676470588235294,
 0.04779411764705882,
 0.04779411764705882,
 0.01838235294117647,
 0.16176470588235295,
 0.15808823529411764,
 0.19117647058823528,
 0.09191176470588236,
 0.022058823529411766]

In [31]:
# Create a Vector List for Whole Users with Movie Vector

Whole_Users_Vector = []

Total_Number_Of_Users = range(1,944)
Total_Number_Of_Genre = range(1,19)
Total_Number_Of_Iteration = 0

for Each_User in Total_Number_Of_Users :
    Users = Dataset[Dataset['user_id']==Each_User][['movie_id','rating']]
    
    Users_Movie_Id_List = []

    for Each_Movie_Id in Users['movie_id']:
        User_Movie_Id = Genre_Vector_Transpose[Each_Movie_Id].values
        Users_Movie_Id_List.append(User_Movie_Id)
    
    # Converting the DataFrame to dataframe
    Users_Movie_Genre_Table = pd.DataFrame(Users_Movie_Id_List, columns = Total_Number_Of_Genre)
        
    # Create Single Vector for One User by Summing and Taking Average of Each Genre Column
    Single_User_Vector = []
    
    for Each_Genre in Total_Number_Of_Genre:
        Summed_Each_Genre_Column_Value = sum(Users_Movie_Genre_Table[Each_Genre])
        #print(f"Summed Each Genre Column - {Each_Genre} Value : {Summed_Each_Genre_Column_Value}")
        
        Each_Genre_Vector_Value = (Summed_Each_Genre_Column_Value / len(Users))
        Single_User_Vector.append(Each_Genre_Vector_Value)
        #print(f"Genre - {Each_Genre} Vector Value = ({Summed_Each_Genre_Column_Value})/ Total_Number_Of_Rows_In_Users ({len(Users)}) = {Each_Genre_Vector_Value:.2f}", "\n")

        Total_Number_Of_Iteration = Total_Number_Of_Iteration + 1
    
    Whole_Users_Vector.append(Single_User_Vector)
    #print(f"<--------------- Calculated 'Single User Vector' For User - {Each_User} of {len(Total_Number_Of_Users)} --------------->", "\n")
print(f"Total Number Of Iteration in Function - Whole_Users_Vector : {Total_Number_Of_Iteration}")

Total Number Of Iteration in Function - Whole_Users_Vector : 16974

In [29]:
print(f"Total Number of Iterations in this 'Whole User Vector' Function : {Total_Number_Of_Iteration}")

Total Number of Iterations in this 'Whole User Vector' Function : 16974

In [32]:
# Created a Function - 
def Whole_Users_Vector(Dataset, Genre_Vector_Transpose):
    # Create a Vector List for Whole Users with Movie Vector
    Whole_Users_Vector_List = []
    
    Total_Number_Of_Users = range(1,944)
    Total_Number_Of_Genre = range(1,19)
    Total_Number_Of_Iteration = 0
    
    for Each_User in Total_Number_Of_Users :
        
        Users = Dataset[Dataset['user_id']==Each_User][['movie_id','rating']]
        
        Users_Movie_Id_List = []
    
        for Each_Movie_Id in Users['movie_id']:
            User_Movie_Id = Genre_Vector_Transpose[Each_Movie_Id].values
            Users_Movie_Id_List.append(User_Movie_Id)
        
        # Converting the DataFrame to dataframe
        Users_Movie_Genre_Table = pd.DataFrame(Users_Movie_Id_List, columns = Total_Number_Of_Genre)
            
        # Create Single Vector for One User by Summing and Taking Average of Each Genre Column
        Single_User_Vector_List = []
        
        for Each_Genre in Total_Number_Of_Genre:
            Summed_Each_Genre_Column_Value = sum(Users_Movie_Genre_Table[Each_Genre])
            #print(f"Summed Each Genre Column - {Each_Genre} Value : {Summed_Each_Genre_Column_Value}")
            
            Each_Genre_Vector_Value = (Summed_Each_Genre_Column_Value / len(Users))
            Single_User_Vector_List.append(Each_Genre_Vector_Value)
            #print(f"Genre - {Each_Genre} Vector Value = ({Summed_Each_Genre_Column_Value})/ Total_Number_Of_Rows_In_Users ({len(Users)}) = {Each_Genre_Vector_Value:.2f}", "\n")

            Total_Number_Of_Iteration = Total_Number_Of_Iteration + 1
            
        Whole_Users_Vector_List.append(Single_User_Vector_List)
    
    print(f"Total Number Of Iteration in Function - Whole_Users_Vector : {Total_Number_Of_Iteration}")
    return Whole_Users_Vector_List

In [33]:
# Called the Function - Whole_Users_Vector
Vectors = Whole_Users_Vector(Dataset, Genre_Vector_Transpose)

Total Number Of Iteration in Function - Whole_Users_Vector : 16974

In [38]:
# Converting into Dataset
Users_Vector = pd.DataFrame(Vectors)
Users_Vector.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.275735,0.154412,0.044118,0.091912,0.334559,0.091912,0.018382,0.393382,0.007353,0.003676,0.047794,0.047794,0.018382,0.161765,0.158088,0.191176,0.091912,0.022059
1,0.161290,0.048387,0.016129,0.064516,0.258065,0.145161,0.000000,0.564516,0.016129,0.032258,0.032258,0.016129,0.064516,0.258065,0.064516,0.193548,0.048387,0.000000
2,0.259259,0.074074,0.000000,0.000000,0.222222,0.185185,0.018519,0.407407,0.000000,0.037037,0.092593,0.037037,0.203704,0.092593,0.148148,0.388889,0.092593,0.000000
3,0.333333,0.166667,0.000000,0.000000,0.166667,0.166667,0.041667,0.250000,0.000000,0.000000,0.041667,0.041667,0.208333,0.125000,0.250000,0.458333,0.083333,0.000000
4,0.320000,0.188571,0.080000,0.165714,0.468571,0.051429,0.000000,0.154286,0.011429,0.005714,0.160000,0.068571,0.017143,0.108571,0.188571,0.108571,0.080000,0.011429

In [35]:
#Check The shape
Users_Vector.shape

(943, 18)

In [41]:
#Check The shape
Genre_Vector_Transpose.shape

(18, 1682)

In [45]:
# Dot matrix for Users_Vector and Genre_Vector_Transpose
Dot_Product = np.dot(Users_Vector, Genre_Vector_Transpose)

In [46]:
# Data Frame for Content_Vector
Content_Vector = pd.DataFrame(Dot_Product)

In [47]:
# Tranpose for the user vector access
Content_Vector_Transposed = Content_Vector.T
Content_Vector_Transposed

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
0,0.470588,0.338710,0.222222,0.166667,0.714286,0.454976,0.339950,0.220339,0.272727,0.336957,...,0.482759,0.282051,0.373239,0.375,0.518519,0.346939,0.457944,0.545455,0.493671,0.398810
1,0.621324,0.403226,0.722222,0.958333,0.617143,0.336493,0.570720,1.254237,0.545455,0.396739,...,0.482759,0.871795,0.478873,0.325,0.777778,0.816327,0.514019,1.090909,0.620253,0.797619
2,0.191176,0.193548,0.388889,0.458333,0.108571,0.113744,0.191067,0.305085,0.227273,0.184783,...,0.120690,0.282051,0.197183,0.100,0.296296,0.244898,0.186916,0.318182,0.253165,0.208333
3,1.003676,0.983871,0.888889,0.750000,0.942857,0.924171,0.816377,1.118644,0.954545,0.831522,...,0.971264,1.076923,1.007042,1.075,0.990741,1.040816,1.056075,1.000000,0.898734,1.053571
4,0.676471,0.903226,0.981481,0.875000,0.314286,0.672986,0.632754,0.745763,0.727273,0.711957,...,0.563218,0.820513,0.767606,0.775,0.648148,0.673469,0.700935,0.590909,0.645570,0.654762
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,0.393382,0.564516,0.407407,0.250000,0.154286,0.492891,0.362283,0.288136,0.500000,0.440217,...,0.390805,0.461538,0.478873,0.625,0.296296,0.367347,0.448598,0.227273,0.392405,0.339286
1678,0.352941,0.451613,0.481481,0.583333,0.217143,0.308057,0.330025,0.423729,0.590909,0.380435,...,0.327586,0.589744,0.415493,0.325,0.490741,0.448980,0.411215,0.363636,0.468354,0.404762
1679,0.555147,0.822581,0.500000,0.375000,0.262857,0.687204,0.501241,0.406780,0.863636,0.635870,...,0.597701,0.769231,0.697183,0.850,0.490741,0.571429,0.672897,0.272727,0.607595,0.535714
1680,0.334559,0.258065,0.222222,0.166667,0.468571,0.312796,0.218362,0.169492,0.272727,0.255435,...,0.362069,0.230769,0.338028,0.300,0.370370,0.306122,0.392523,0.318182,0.278481,0.333333
1681,0.393382,0.564516,0.407407,0.250000,0.154286,0.492891,0.362283,0.288136,0.500000,0.440217,...,0.390805,0.461538,0.478873,0.625,0.296296,0.367347,0.448598,0.227273,0.392405,0.339286

In [48]:
# Saving File For Backup
Content_Vector_Transposed.to_csv("Content_Vector_Transposed.csv",index=False)

# Individual Check for User

In [52]:
# Verify the Column Pickups for Random User Id
User_Id = 4
Verify_New_User = Dataset[Dataset['user_id']==User_Id]['movie_id'].values
len(Verify_New_User)

24

In [56]:
# Dataset[Selects Column 4 from the DataFrame > Gets Top 4 Highest Scores in Column 2 - Subtracts 0.5 (Rating-5)] [Column - 2]

Movies_Of_Column_02 = Content_Vector_Transposed[Content_Vector_Transposed[4] > (Content_Vector_Transposed[4].max()-0.5)][2]
Movies_Of_Column_02

3       0.888889
16      1.148148
20      0.981481
28      0.740741
49      0.666667
73      0.888889
79      0.574074
100     0.574074
109     0.648148
171     1.074074
172     0.648148
180     0.666667
183     0.796296
185     0.518519
200     0.648148
230     0.740741
234     0.722222
256     0.703704
361     0.518519
384     0.648148
397     0.481481
398     0.555556
425     0.888889
559     0.537037
754     0.481481
819     0.296296
992     0.333333
1109    0.666667
1137    1.074074
Name: 2, dtype: float64

In [57]:
Recommend = []
for Each_Movie in Movies_Of_Column_02.index:
    if(Each_Movie in Verify_New_User):
        pass
    else:
        Recommend.append(Each_Movie)

In [58]:
len(Recommend)

28

In [59]:
Recommend

[3,
 16,
 20,
 28,
 49,
 73,
 79,
 100,
 109,
 171,
 172,
 180,
 183,
 185,
 200,
 230,
 234,
 256,
 384,
 397,
 398,
 425,
 559,
 754,
 819,
 992,
 1109,
 1137]

In [60]:
def Content_Based(Dataset, Content_Vector_Transposed, User_Id, Threshold):
    # Verify the Column Pickups for Random User Id
    Verify_New_User = Dataset[Dataset['user_id']==User_Id]['movie_id'].values
    
    # Dataset[Selects Column 4 from the DataFrame > Gets Top 4 Highest Scores in Column 2 - Subtracts 0.5 (Rating-5)] [Column - 2]
    Movies_Of_Column_02 = Content_Vector_Transposed[Content_Vector_Transposed[User_Id] > (Content_Vector_Transposed[User_Id].max() - Threshold)][2]
    
    Recommend = []
    
    for Each_Movie in Movies_Of_Column_02.index:
        if(Each_Movie in Verify_New_User):
            pass
        else:
            Recommend.append(Each_Movie)
    return Recommend

In [61]:
Content_Based(Dataset, Content_Vector_Transposed, 54, 0.3)

[20, 49, 163, 171, 175, 180, 251, 357, 425, 635, 801, 830]